/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .offset{
    margin: auto;
  }
  #card_img0{
    object-fit: cover;
    width: 100%;
  }
  #card_search{
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  .row_search{
    margin-bottom: -5px;
  }
  .col-flex{
    margin-left: 10px;
    margin-right: 0px;
  }
  .col-flex p{
    display: inline;
  }
  #search_bar{
    margin: 30px auto ;
  }
  #card_img{
    width: 200px ; height :150px;
	  object-fit: cover ;
  }
  .card_div{
    margin: auto;
  }
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    display: inline-block;
  }
  .no-gutters {
  margin:0;
  padding:0;
  }
  .no-gutters　> .col,
  .no-gutters　> [class*="col-"] {
    margin:0;
    padding:0;
  }